@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.maintitle {
    z-index: 6;
    position:relative;
    height: 20px;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    
    font-size:x-large;
    color: #aca;
}
.maintitle-extras {
    z-index: 1;
    position: relative;
    height: 20px;
    margin-top: -15px;
    margin-bottom: -15px;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    
    font-size: x-large;
    color: #000;
    text-shadow:
        2px 2px 0 #888,
        -2px 2px 0 #888,
        -2px -2px 0 #888,
        2px -2px 0 #888;
}

.subtitle {
    height: 10px;
    margin-top:20px;
    padding: 30px;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    font-size:large;
    color: #bcb;
}
.fourwaywrapperimg {
    display: grid;
    grid-gap: 0px;
    width: 100vw;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: fit-content;
    background-color: #000;
    color: #aaa;
}

.fourwaywrappertext {
    display: grid;
    grid-gap: 0px;
    width: 100vw;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows:max-content;
    background-color: #000;
    color: #aaa;
}

.content {
    height: fit-content;
    padding: 10px;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align:center;

    .bold {
        font-weight: 900;
        color: #bcb;
    }
}

.summary {
    height: fit-content;
    padding: 10px;
    margin-left:25%;
    width:50%;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#aaa;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 10%;
    border-image:url("IMG_1970.jpeg");
    color: #fff;
    
    .bold {
        font-weight: 900;
        color: #bcb;
    }
}

.spinesimg {
    background-image: url("spines.gif");
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:25vw;
    image-rendering:pixelated;

}

.noleavesimg {
    background-image: url("noleaves.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 25vw;
    image-rendering: pixelated;

}

.longrootsimg {
    background-image: url("longroots.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 25vw;
    image-rendering: pixelated;

}

.waterstoreimg {
    background-image: url("waterstores.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 25vw;
    image-rendering: pixelated;

}